@font-face {
    font-family: 'AeonikTrial';
    src: url('/fonts/AeonikTrial-Regular.woff2') format('woff2'),
        url('/fonts/AeonikTrial-Regular.woff') format('woff'),
        url('/fonts/AeonikTrial-Regular.ttf') format('truetype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'AeonikTrial';
    src: url('/fonts/AeonikTrial-Bold.woff2') format('woff2'),
        url('/fonts/AeonikTrial-Bold.woff') format('woff'),
        url('/fonts/AeonikTrial-Bold.ttf') format('truetype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
}


body,
header,
nav {
    display: flex;
}

header {
    width: 100%;
    height: 224px;
    justify-content: center;
    align-items: center;
}

nav {
    background: #F95F19;
    width: 883px;
    height: 85px;
    border-radius: 42.5px;
    justify-content: space-between;
    align-items: center;
    padding-left: 11px;
    padding-right: 37px;
    font-family: 'AeonikTrial', sans-serif;
    font-weight: 700;
}

#nav_selection {
    width: 144px;
    height: 68px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
}

#nav_logo {
    width: 58px;
    height: 58px;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MuseoModerno", serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.nav_title {
    color: white;
    font-size: 24px;
}

.logo {
    color: black;
}

.home {
    color: black;
}