@font-face {
    font-family: 'AeonikTrial';
    src: url('/fonts/AeonikTrial-Regular.woff2') format('woff2'),
        url('/fonts/AeonikTrial-Regular.woff') format('woff'),
        url('/fonts/AeonikTrial-Regular.ttf') format('truetype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'AeonikTrial';
    src: url('/fonts/AeonikTrial-Bold.woff2') format('woff2'),
        url('/fonts/AeonikTrial-Bold.woff') format('woff'),
        url('/fonts/AeonikTrial-Bold.ttf') format('truetype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
}

body {
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header,
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 224px;
    justify-content: center;
    align-items: center;
}

nav {
    background: #F95F19;
    width: 883px;
    height: 85px;
    border-radius: 42.5px;
    justify-content: space-between;
    align-items: center;
    padding-left: 11px;
    padding-right: 37px;
    font-family: 'AeonikTrial', sans-serif;
    font-weight: 700;
}

#nav_selection {
    width: 144px;
    height: 68px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
}

#nav_logo {
    width: 58px;
    height: 58px;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MuseoModerno", serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.nav_title {
    color: white;
    font-size: 24px;
}

.logo {
    color: black;
}

.home {
    color: black;
}

footer {
    margin-top: auto;
    background: white;
    color: #252525;
    text-align: center;
    font-family: 'AeonikTrial', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#footer_bottom span {
    color: #F95F19;
}

#footer_bottom {
    width: 100%;
    height: 117px;
    align-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 309px);
}

.container {
    display: flex;
    gap: 90px;
}

.container_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_box {
    width: auto;
    height: 326px;
}

.right_box {
    border-radius: 45px;
    width: 472px;
    height: 575px;
    background: #F95F19;
}

.left_box h1 {
    font-family: 'AeonikTrial', sans-serif;
    font-weight: 700;
    font-size: 60px;
}

#name_surname {
    color: #F95F19;
}

.left_box p, h2 {
    font-family: 'AeonikTrial', sans-serif;
    font-weight: 700;
    color: #252525;
}

.left_box h2 {
    font-size: 36px;
}

#ve {
    color: #F95F19;
}

.left_box p {
    font-size: 16px;
}